.footer
    h3 Templating Done by: 
        a(href='https://github.com/agam23')
            img(src='./public/img/github.png')
    h3 Report issues to: 
        a(href='https://github.com/agam23/starting-point-for-nodejs-express/issues')
            img(src='./public/img/report.png')