html
  head
    title= title
    link(rel='stylesheet', href='./public/css/styles.css')
  body
    include ../partials/header.pug
    .body-content
      .page-title
        h4= message
    include ../partials/footer.pug